<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<body>

    <div class="jumbotron">
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6" align="left">

                <!--  <img src='assets/logo.png' width='100' height='100'> -->


                <a routerLink="/log">Log out</a>
                |
                <a routerLink="/bolesti">Bolesti</a>
                |
                <span *ngIf="navigacija==0">
                    <input type="button" class="btn-info" value="Change password" (click)="promenisifru()">
                   </span>
                   <span *ngIf="navigacija==1">
                   <input type="button" class="btn-info" value="Back" (click)="glavni()">
                   </span>







            </div>


        </div>
    </div>

    <span *ngIf="navigacija==0">
    <div align="center">
        <div class="row">
            <div class="col-8">
                <table class="plava">
                    <thead align="center">
                        <tr align="center">
                            <th align="center">Naziv</th>
                            <th align="center">Uputstvo</th>
                            <th align="center">Bolesti</th>
                            <th align="center">Detaljnija istrazivanja</th>

                        </tr>
                    </thead>


                    <tr *ngFor="let x of lekovi;let i=index">
                        <td>
                            {{x.naziv}}
                        </td>
                        <td>
                            <span (click)="gotolink(i)" style="color: green;">
                                Uputstvo
                            </span>
                        </td>
                        <td>
                            <input type="button" class="btn-link" value="Bolesti" (click)="bolesti(x)">
                        </td>
                        <td>
                            <input type="button" class="btn-link" value="Detalji" (click)="opendet(x)">
                        </td>



                    </tr>
                </table>
            </div>
            <div class="col-4">
                <span *ngIf="lek!=null && !detalji">
                    <table>
                        <thead>
                            <th>Bolesti koje se lece lekom "{{lek.naziv}}"</th>
                        </thead>
                        <tr *ngFor="let x of boles;let i=index">
                            <td align="center">
                                {{x.naziv}}
                            </td>
                        </tr>

                    </table>
                </span>
                <span *ngIf="lek!=null && detalji">
                    <table>
                        <thead>
                            <th>Detalji istrazivanja za lek "{{lek.naziv}}"</th>
                        </thead>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr *ngFor="let x of koms;let i=index">
                            <td align="center">
                                {{x.tekst}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" class="btn-secondary" (click)="dodajkom()" value="Dodajte rezultat Vaseg istrazivanja">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                       

                    </table>
                    <form>
                    <span *ngIf="bulkom">
    
                         <textarea [(ngModel)]="tekst" name="tekst"></textarea>
                         <br>
                         <input type="button" class="btn-secondary" (click)="novikom()" value="Potvrdi">
                    </span>
                    </form>
                </span>
            </div>
        </div>
    </div>
</span>
    <span *ngIf="navigacija==1">
        <form>
            <table align="center">
                <tr>
                    <td>
                        Old password:
                    </td>
                    <td>
                        <input type="password" name="starasif" [(ngModel)]="starasif">
                    </td>
                </tr>
                <tr>
                    <td>
                        New password:
                    </td>
                    <td>
                        <input type="password" name="novasif" [(ngModel)]="novasif">
                    </td>
                </tr>
                <tr>
                    <td>
                        Repeat new password:
                    </td>
                    <td>
                        <input type="password" name="opetsif" [(ngModel)]="opetsif">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="button" value="Promeni" (click)="passchange()">
                    </td>
                </tr>
            </table>
        </form>
    </span>




</body>