<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<body>

    <div class="jumbotron">
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6" align="left">

                <!--  <img src='assets/logo.png' width='100' height='100'> -->


                <a routerLink="/log">Nazad</a>
                |
                <a routerLink="/gost">Glavna stranica</a>
                |
                <a routerLink="/bolgost">Bolesti</a>
                
                







            </div>


        </div>
    </div>
 
    <div class="container" align="center">
        Ova funkcionalnost nije realizovana u prototipu!
    </div>

</body>    
